{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
        <div class="container">
            <img src="{{ '/img/snout.jpeg' }}" alt=""  style="width: 90%" class="img-fluid"/>
        </div>
        <header class="special text-center">
            <h2> Bienvenue sur le site SNOUT <br>

                    FRAIS DE TRANSPORT OFFERT</h2>
        </header>
        <div class="container p-2">

        </div>
    <section class="site-section border-bottom bg-light mt-2" id="team-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="section-title mb-3 mt-2" data-aos="fade-up" data-aos-delay="" style="color: whitesmoke">
                        <a class=" btn btn-dark" href="{{ path('shop') }}">Continuer vers la boutique</a>
                        </h2>
                    <p class="lead" data-aos="fade-up" data-aos-delay="100">
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
